* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  background: #eeeeee;
}

.wrap {
  width: 100%;
  height: 100vh;
}
.header {
  border: 1px solid #000;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: #0984e3;
}

.gnb {
  display: flex;
}
.header .gnb li {
  padding: 20px;
}
.header .gnb li a {
}

.lnb {
  display: flex;
}

.lnb ul {
  display: flex;
}

.lnb ul li {
  padding: 10px;
}

@media all and (max-width: 768px) {
  .header {
    width: 100%;
    flex-direction: column;
  }
  .gnb {
    width: 100%;
    background-color: #0984e3;
    flex-direction: column;
  }
  .gnb li {
  }
  .lnb ul li a i {
    color: black;
  }
}
