* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
p {
  color: #fff;
}
.wrap {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  gap: 10px;
}
.list li {
  width: 100%;

  /* margin: 0 10px; */
}
.list li a {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.list li a::before {
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  display: block;
  position: absolute;
  background: #e03166;
  opacity: 0;
  transition: all 0.3s;
}
.list li:nth-child(2) a::before {
  background: rgb(99, 112, 231);
}
.list li:nth-child(3) a::before {
  background: rgb(135, 228, 150);
}

.list li a:hover::before {
  opacity: 0.8;
}

.list li .info {
  position: absolute;
  bottom: 10px;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.list li a:hover .info {
  opacity: 1;
  transform: translateY(-50%);
}
.list li .info h3 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.list li img {
  display: block;
  width: 100%;
  height: auto;
}
.info {
  width: 100%;
}

.info > span {
  font-size: 16px;
  font-weight: bold;
  color: yellow;
  padding: 10px 0 20px 0;
}
.info .icon span {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 40px;
}
.info .icon span i {
  color: #fff;
}

@media screen and (max-width: 780px) {
  .wrap {
    width: 100%;
    height: auto;
  }
  .list {
    width: 60%;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}
