@import url(reset.css);

#wrap {
}

.cfixed::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  position: relative;
  padding: 18px 5%;
}
.header .logo {
  float: left;
}
.header .logo a {
  font-size: 26px;
  font-weight: normal;
  color: #3f51b5;
}

.header .gnb {
  width: 100%;
  top: 100%;
  left: 0;
  display: none;
  position: absolute;
  background: #3f51b5;
}
.header .gnb li {
  border-bottom: 1px solid #303f9f;
}
.header .gnb li a {
  display: block;
  padding: 14px 0 14px 5%;
  font-size: 14px;
  color: #fff;
}

/*** 3단 버튼 ***/
.menu_toggle_btn {
  width: 20px;
  float: right;
  margin-top: 16px;
  cursor: pointer;
}
.menu_toggle_btn span {
  width: 100%;
  height: 2px;
  background: #3f51b5;
  display: block;
}

.menu_toggle_btn span:nth-child(2) {
  margin: 5px 0;
}

/* article */
.slider {
}
.slider img {
  display: block;
  width: 100%;
  height: auto;
}

/* section */

.sec-tit {
  color: #3f51b5;
  font-weight: normal;
  font-size: 30px;
}

.content {
}
.display_section {
  margin-top: 59px;
  text-align: center;
}
.display_section .sec-tit {
  margin-bottom: 30px;
}
.display_section .desc {
  color: #616161;
  line-height: 1.8;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.container::after {
  content: "";
  display: block;
  clear: both;
}
.promo_section {
  margin-top: 68px;
}
.promo_section .promo_list li {
  margin-top: 52px;
  text-align: center;
}
.promo_section .promo_list li:first-child {
  margin-top: 0;
}
.promo_section .promo_list li img {
  height: 52px;
}
.promo_section .promo_list li h3 {
  margin: 29px 0 20px;
  color: #3f51b5;
  font-weight: normal;
}
.promo_section .promo_list li p {
  font-size: 14px;
  color: #616161;
  line-height: 1.5;
}

.divider {
  width: 90%;
  margin: 77px auto;
}
.work_section .sec-tit {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 47px;
  text-align: center;
}

.work_section .work_list li {
  width: 100%;
}
.work_section .work_list li a {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.work_section .work_list li a::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background: #3f51b5;
  opacity: 0;
  transition: all 0.2s;
}
.work_section .work_list li a:hover::before {
  opacity: 0.8;
}
.work_section .work_list li .info {
  position: absolute;
  top: 0;
  left: 23px;
  opacity: 0;
  transition: all 0.3s;
}
.work_section .work_list li a:hover .info {
  opacity: 1;
  transform: translateY(23px);
}

.work_section .work_list li .info h3 {
  color: #fff;
  font-size: 23px;
  font-weight: normal;
  margin-bottom: 8px;
}
.work_section .work_list li .info span {
  font-size: 11px;
  color: #fff;
}
.work_section .work_list li img {
  display: block;
  width: 100%;
  height: auto;
}
/* blog */

.m-divider {
  width: 20px;
  margin: 77px auto;
}

.blog_section .sec-tit {
  margin-bottom: 47px;
  text-align: center;
}
.blog_section .blog-list li {
  width: 100%;
  margin-top: 45px;
}
.blog_section .blog-list li img {
  display: block;
  width: 100%;
  height: auto;
}
.blog_section .blog-list li time {
  display: block;
  margin: 10px 0;
  font-size: 14px;
  color: #9e9e9e;
}
.blog_section .blog-list li h3 {
  color: #424242;
  font-weight: normal;
  line-height: 1.6;
}

.contact_section {
  margin-top: 109px;
}

.contact_section .sec-tit {
  margin-bottom: 47px;
  text-align: center;
}

.blind {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
}

input,
textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #757575;
  color: #3f51b5;
  font-size: 12px;
  border-radius: 1;
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color: #3f51b5;
}

/* .contact_section .form-box .form {} */

.contact_section .form-box .form input {
  padding-bottom: 13px;
  margin-bottom: 38px;
}
.contact_section .form-box .textarea textarea {
  height: 178px;
}
.contact_section .form-box .send_btn {
  margin-top: 36px;
  text-align: right;
}
.contact_section .form-box .send_btn button {
  cursor: pointer;
  background: #3f51b5;
  color: #fff;
  font-size: 12px;
  margin: 0;
  border: 0;
  padding: 15px;
}
fieldset {
  border: none;
}

.footer {
  margin-top: 104px;
}
.footer p {
  margin: 21px 0;
  color: #3f51b5;
  text-align: center;
}

.footer iframe {
  width: 100%;
  height: 320px;
}

/* tablet */
@media all and (min-width: 768px) {
  .header {
    padding: 28px 52px;
  }

  .header .gnb {
    display: block;
    float: right;
    position: static;
    width: auto;
    margin-top: 17px;
    background: none;
  }

  .header .gnb li {
    float: left;
    margin-left: 21px;
    border-bottom: 0;
  }

  .header .gnb li a {
    color: #3f51b5;
    font-size: 16px;
    padding: 0;
  }
  .header .menu_toggle_btn {
    display: none;
  }
  .display_section {
    margin-top: 95px;
  }
  .promo_section {
    margin-top: 110px;
  }
  .promo_section .promo_list li {
    float: left;
    width: 23%;
    margin-top: 0;
    margin-left: 2%;
  }
  .work_section .sec-tit {
    margin-bottom: 76px;
  }
  .work_section .work_list li {
    width: 50%;
    float: left;
  }
  .work_section .work_list .info {
    left: 37px;
  }
  .work_section .work_list li a:hover .info {
    transform: translateY(37px);
  }

  .blog_section {
    margin-top: 124px;
  }
  .blog_section .sec-tit {
    margin-bottom: 76px;
  }
  .blog_section .blog-list li {
    width: 31%;
    float: left;
    margin-left: 2.3%;
    margin-top: 0;
  }
  .contact_section {
    margin-top: 176px;
  }
  .contact_section .sec-tit {
    margin-bottom: 76px;
  }
  .contact_section .form-box .form,
  .contact_section .form-box .textarea {
    width: 48%;
    float: left;
  }
  .contact_section .form-box .form {
    margin-right: 2.5%;
  }
  .contact_section .form-box .form input:last-child {
    margin-bottom: 0;
  }
  .footer iframe {
    height: 432px;
  }
  .footer p {
    margin: 34px 0;
  }
}

@media all and (min-width: 1132px) {
  .display_section {
    text-align-last: left;
  }
  .display_section .sec-tit {
    float: left;
    margin-bottom: 0;
  }
  .display_section .desc {
    float: right;
    width: 600px;
    position: relative;
    color: #616161;
    line-height: 1.9;
  }
  .display_section .desc::before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 44px;
    background: #e0e0e0;
    top: 24px;
    left: -50px;
  }
  .promo_section .promo_list li {
    width: 23%;
    margin-left: 1.7%;
  }
  .work_section .sec-tit {
    text-align: left;
  }
  .work_section .work_list li {
    width: 25%;
  }

  .blog_section {
    position: relative;
  }

  .blog_section .sec-tit {
    float: left;
    margin: 0;
    position: absolute;
    top: -12px;
  }
  .blog_section .blog-list {
    width: 74%;
    float: right;
  }
  .blog_section .blog-list li {
    width: 31%;
    margin-left: 2.3%;
  }
  .contact_section .sec-tit {
    float: left;
    margin-bottom: 0;
  }
  .contact_section .form-box {
    float: right;
    width: 74%;
  }
  .contact_section .form-box .form,
  .contact_section .form-box .textarea {
    width: 48%;
  }
  .contact_section .form-box .form {
    margin-right: 2.3%;
  }
}
