body {
  text-align: center;
}

#iogin-main {
}

.iogin-box {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 200px;
  width: 400px;
  color: blue;
  background-color: rgba(211, 211, 211, 0.5);
}

.logbox {
}

.centerbox {
  display: inline-block; /*블럭을 인라인으로 바꿔서 가운데 정렬 */
  border: 1px solid red;
}
