* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 960px;
  margin: 0 auto;
  margin-top: 10px;
  display: grid;
  grid-template: 70px 1fr 70px / 200px 1fr;
  gap: 5px;
  /* grid-template-areas:
    "header header"
    "aside content"
    "footer footer"; */
}

[class*="cell"] {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
}
.cell-header,
.cell-footer {
  grid-column: 1/3;
}
/* .cell-header {
  grid-area: header;
}
.cell-aside {
  grid-area: aside;
}
.cell-content {
  grid-area: content;
}
.cell-footer {
  grid-area: footer;
} */
