* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
}

body {
  background-color: #11141a;
}
header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border: 1px solid red;
}

.gnb-list {
  display: flex;
}

.logo {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.gnb-list li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.gnb-list li a:hover {
  color: #0ef;
}
.gnb-list li a.active {
  color: #0ef;
}
